# Node.js dependencies
node_modules/

# Environment variables
.env

# Build and output directories
dist/
build/
out/

# Log files
*.log
*.log.*

# IDE config files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.swp
